<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

     <!-- Responsive Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Image shuffler!{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
</head>
<body class="mt-3">
<div class="container">
    {% block body %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
