{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('index') }}" class="btn btn-primary mb-3">Home</a>
    <a href="{{ path('overview') }}" class="btn btn-primary mb-3">All images</a>
    <div class="card mb-3" style="width: 18rem;">
        <img src="https://via.placeholder.com/150" class="card-img-top" style="max-height: 150px" id="preview-image">
        <div class="card-body">
            <h5 class="card-title">Create image</h5>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#image_url').keyup(function(event) {
            image = $('#preview-image');
            image.attr('src', $(this).val())
        })
    </script>
{% endblock %}