{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <a href="{{ path('overview') }}" class="btn btn-primary mb-3">All images</a>
    <a href="{{ path('create') }}" class="btn btn-success mb-3">New image</a>
    {% if image %}
        <div class="card" style="width: 18rem;">
            <img src="{{ image.url }}" class="card-img-top" alt="..." style="max-height: 150px">
            <div class="card-body">
                <h5 class="card-title">{{ image.title }}</h5>
                <p class="card-text">{{ image.description }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}