{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <a href="{{ path('index') }}" class="btn btn-primary mb-3">Home</a>
    <a href="{{ path('create') }}" class="btn btn-success mb-3">New image</a>
    <div class="row">
    {% for image in images %}
        <div class="col-md-3">
        <div class="card mb-3">
            <img src="{{ image.url }}" class="card-img-top" alt="..." style="max-height: 150px">
            <div class="card-body">
                <h5 class="card-title">{{ image.title }}</h5>
                <p class="card-text">{{ image.description }}</p>
                <a href="{{ path('edit', {'id' : image.id}) }}" class="btn btn-primary">Edit</a>
                <a href="{{ path('delete', {'id' : image.id}) }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}